.MoodLift {
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    /* set the bottom has to leave 20px*/
    padding-bottom: 7%;
  }
  
  .MoodLift header {
    width: 100%; /* Adjusts width considering padding */
    max-width: 100%; /* Ensures the header width aligns with the container below */
    padding: 18px;
    background-color: #f9f9f9;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0 0; /* Rounds the top corners */
  }
  
  .container {
    display: flex;
    width: 100%;
    max-width: 900px; /* Adjust according to your layout's needs */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden; /* Keeps child elements from overflowing */
    margin-top: 20px; /* Creates space between the header and the container */
  }
  
  .sidebar {
    width: 250px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 20px;
}
  
  .search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    /* set shadow for the input box */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  #user-list {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  #user-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #user-list li:hover {
    background-color: #f0f0f0;
  }
  
  .chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ensures that the chat interface does not overflow */
  }
  
  .chat-header {
    padding: 20px;
    background-color: #f3f4f6;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px; /* Changed font size to 14px */
}
  
  .user-info h3 {
    margin: 0;
  }
  
  #chat {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  #message-list {
    list-style: none;
    margin: 0;
    padding: 0;
    .sent {
        /* Create a small box in blue on the right covered the text, make curve on the edge */
        background-color: #79c6fe;
        float: right;
        border-radius: 10px 0 10px 10px;
        &:after {
            content: ""; /* Ensure the pseudo-element is displayed */
            display: block; /* This makes the pseudo-element a block-level element, effectively "clearing" the float */
            clear: both; /* This clears the float, ensuring elements after .sent start on a new line */
            border-bottom-color: #79c6fe;
        }
        text-align: center;
        min-width: 50px;
        min-height: 30px;
        padding: 7px 15px; /* Adds padding: 10px top and bottom, 20px left and right */
        margin-bottom: 10px; /* Optional: adds space between each box if you need it */
        width: auto; /* Ensures the width adjusts based on the content, considering the padding */
        box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
    }
    
    .received {
        /* Create a small box in blue on the right covered the text, make curve on the edge */
        background-color: #79c6fe;
        float: left;
        border-radius: 0 10px 10px 10px;
        &:after {
            content: ""; /* Ensure the pseudo-element is displayed */
            display: block; /* This makes the pseudo-element a block-level element, effectively "clearing" the float */
            clear: both; /* This clears the float, ensuring elements after .sent start on a new line */
            border-bottom-color: #79c6fe;
        }
        text-align: center;
        min-width: 50px;
        min-height: 30px;
        padding: 7px 15px; /* Adds padding: 10px top and bottom, 20px left and right */
        margin-bottom: 10px; /* Optional: adds space between each box if you need it */
        width: auto; /* Ensures the width adjusts based on the content, considering the padding */
        box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
    }

    .time-sent {
        font-size: 10px;
        clear: both; /* Ensures the element does not overlap with floated elements */
        display: block; /* Ensures the element takes up the full width available */
        text-align: left; /* Aligns the sent time to the right */
    }
      
    .time-received {
        font-size: 10px;
        clear: both; /* Ensures the element does not overlap with floated elements */
        display: block; /* Ensures the element takes up the full width available */
        text-align: right; /* Aligns the sent time to the right */
    }

  }
  
  .message-box {
    display: flex;
    padding: 20px;
    border-top: 1px solid #ddd;
  }
  
  #message-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  #send-msg-btn {
    padding: 10px 20px;
    background-color: #79c6fe;
    border: none;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  #send-msg-btn:hover {
    background-color: #0056b3;
  }
  