.MoodLift-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 7%;
  }
  
  .MoodLift-chat header {
    width: 100%;
    max-width: 100%;
    padding: 18px;
    background-color: #f9f9f9;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
  }
  
  .container-chat {
    display: flex;
    height: 85%;
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-top: 20px;
  }
  
  .sidebar-chat {
    width: 250px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 20px;
}
  
  .search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  #user-list {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  #user-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #user-list li:hover {
    background-color: #f0f0f0;
  }
  
  .chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .chat-header {
    padding: 20px;
    background-color: #f3f4f6;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
}
  
  .user-info h3 {
    margin: 0;
  }
  
  #chat {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  #message-list {
    list-style: none;
    margin: 0;
    padding: 0;
    .sent {
        background-color: #79c6fe;
        float: right;
        border-radius: 10px 0 10px 10px;
        &:after {
            content: "";
            display: block;
            clear: both;
            border-bottom-color: #79c6fe;
        }
        text-align: center;
        min-width: 50px;
        min-height: 30px;
        padding: 7px 15px;
        margin-bottom: 10px;
        width: auto;
        box-sizing: border-box;
    }
    
    .received {
        background-color: #79c6fe;
        float: left;
        border-radius: 0 10px 10px 10px;
        &:after {
            content: "";
            display: block;
            clear: both;
            border-bottom-color: #79c6fe;
        }
        text-align: center;
        min-width: 50px;
        min-height: 30px;
        padding: 7px 15px;
        margin-bottom: 10px;
        width: auto;
        box-sizing: border-box;
    }

    .time-sent {
        font-size: 10px;
        clear: both;
        display: block;
        text-align: left;
    }
      
    .time-received {
        font-size: 10px;
        clear: both;
        display: block;
        text-align: right;
    }

  }
  
  .message-box {
    display: flex;
    padding: 20px;
    border-top: 1px solid #ddd;
  }
  
  #message-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  #send-msg-btn {
    padding: 10px 20px;
    background-color: #79c6fe;
    border: none;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  #send-msg-btn:hover {
    background-color: #0056b3;
  }
  